<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= block('title').toString() || 'The Cozy Lookout' %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <%- block('head').toString() %>
</head>
<body>

    <%- include('../includes/navbar') %>
    <main class="main-content">
        <%- body %>
    </main>
    <%- include('../includes/footer') %>

</body>
</html>