<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/css/details.css">
</head>
<body>
    <div class="container">
        <h1 class="title"> <%= data.title %> </h1>
        <img src="<%= data.image %>" alt="" class="listing-img">
        <p class="description"> <%= data.description %> </p>
        <p class="location"> <%= data.location %> </p>
        <p class="price"> ₹<%= data.price.toLocaleString("en-in") %> </p>
    </div>
</body>
</html>