<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="css/listings.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            The Cozy Lookout
        </div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/listings">Listings</a></li>
            <li><a href="/listings/new">Add Listing</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="navbar-spacer"></div>

    <div class="listings-container">
        <% listingsData.forEach((listing) => { %>
            <a href="/listings/<%= listing._id %>">
                <div class="card">
                    <img src="<%= listing.image %>" alt="<%= listing.title %>" class="listing-img">
                    <p class="title"><%= listing.title %></p>
                    <p class="location"><%= listing.location %></p>
                    <p class="price">₹<%= listing.price.toLocaleString("en-in") %></p>
                </div>
            </a>
        <% }) %>
    </div>
</body>
</html>