<%- layout('layouts/boilerplate') %>

<% block('title', 'Listing') %>
<% block('head', '<link rel="stylesheet" href="/css/listings.css">') %>

<body>
    <div class="listings-container">
        <% listingsData.forEach((listing) => { %>
            <a href="/listings/<%= listing._id %>">
                <div class="card">
                    <img src="<%= listing.image %>" alt="<%= listing.title %>" class="listing-img">
                    <p class="title"><%= listing.title %></p>
                    <p class="location"><%= listing.location %></p>
                    <p class="price">₹<%= listing.price.toLocaleString("en-in") %></p>
                </div>
            </a>
        <% }) %>
    </div>
</body>